@using Microsoft.AspNetCore.Components
@using Factory.Models

<div class="text-center">
  <a class="btn btn-light" href="/">Back</a>
  <h1>Engineers:</h1>
  <br>
  <a class="btn btn-primary" href="/engineer/add">Add a new engineer</a>
  <br>
  <NameList engineerList="@engineers" />
</div>

@code {
  [Parameter]
  public List<Engineer> engineers { get; set; }
}