@using Microsoft.AspNetCore.Components
@using Factory.Models

<br>
<div class="w-@inputSize m-auto">
  <div class="list-group">
    @foreach (Engineer eng in engineerList)
    {
      <a class="list-group-item">
        @eng.name
      </a> 
    }
    @foreach (Machine mac in machineList)
    {
      <a class="list-group-item">
        @mac.name
      </a> 
    }
  </div>
</div>
<br>

@code {
  [Parameter]
  public int inputSize {get; set;} = 25;
  [Parameter]
  public List<Engineer> engineerList {get; set;} = new List<Engineer>{};
  [Parameter]
  public List<Machine> machineList {get; set;} = new List<Machine>{};
}