@using Microsoft.AspNetCore.Components

<div class="text-center">
  <h1>Home</h1>
  <br>

  <a class="btn btn-light" href="/engineer">List all engineers</a>
  <a class="btn btn-light" href="/machine">List all machines</a>
</div>